@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Delete the default icon withot remove the event*/
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: 0 0;
  margin: 0;
  opacity: 0;
  pointer-events: auto;
}